@model IDictionary<string, string>
@{
    ViewData["Title"] = "View";
}

<h2>View</h2>
<table class="table table-bordered table-sm table-striped">
    <tr><th>Name</th><th>Value</th></tr>
    @foreach (string key in Model.Keys)
    {
        <tr><td>@key</td><td>@Model[key]</td></tr>
    }
</table>